<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Speech API Demo</title>
</head>
<body>
    <button onclick="startRecording()">녹음 시작</button>
    <button onclick="stopRecording()">녹음 중지</button>
    <p id="result"></p>

    <script>
        const resultElem = document.getElementById('result');
        let recognition;

        function sendTextToServer(text) {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log('텍스트가 서버에 성공적으로 전송되었습니다.');
                }
            };
            xhttp.open("POST", "/your_server_endpoint", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({
                "text": text
            }));
        }

        function startRecording() {
            if ('webkitSpeechRecognition' in window) {
                recognition = new webkitSpeechRecognition();
                recognition.continuous = true;
                recognition.interimResults = true;
                recognition.lang = 'ko-KR';

                recognition.onstart = function() {
                    resultElem.innerHTML = '녹음 중...';
                };

                recognition.onresult = function(event) {
                    let text = '';
                    for (let i = event.resultIndex; i < event.results.length; ++i) {
                        text += event.results[i][0].transcript;
                    }
                    resultElem.innerHTML = '감지된 텍스트: ' + text;
                    sendTextToServer(text);
                };

                recognition.onerror = function(event) {
                    resultElem.innerHTML = '오류 발생: ' + event.error;
                };

                recognition.start();
            } else {
                resultElem.innerHTML = '이 브라우저는 Web Speech API를 지원하지 않습니다.';
            }
        }

        function stopRecording() {
            if (recognition) {
                recognition.stop();
            }
        }
    </script>
</body>
</html>
